body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 90px;
  width: 50%;
  margin: 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  background-color: #97D2EC;
}

.top-cloud {
  position: relative;
  left: 200px;
  top: 25px;
}

.bottom-cloud {
  position: absolute;
}

.profilepic {
  position: relative;
  border-radius: 50%;
  top: 25px;
}

.middle-container {
  padding-bottom: 20px;
}

.skill-row1 {
  width: 85%;
  position: relative;
  left: 100px;
}

.MasterControl {
  width: 85%;
  position: relative;
  left: 100px;
}
.footer-link {
  padding-left: 10px;
  text-decoration:none;
}
.footer-link1 {
  padding-left: 10px;
     text-decoration:none;
}
.footer-link2 {
  padding-left: 10px;
  text-decoration:none;
}
.bottom-container {
  padding-top: 40px;
}
.table {
  column-count: 5;
  column-gap: 40px;
}
